<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../css/main.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="../js/aes.js"></script>
        <script type="text/javascript" src="../js/api.js"></script>
        <script type="text/javascript" src="../js/options.js"></script>
    </head>
    <body>
        <div class="popup" >
            <div>
                <img id="logged_in" src="../images/icon16.png" /> <div class="title" ><span id="appTitle" class="msg"></span></div>
            </div>
            <span id="userName" class="msg"></span>: <input type="text" name="appUserName" id="appUserName" /><br/>
            <span id="passWord" class="msg"></span>: <input type="password" name="appPassWord" id="appPassWord" /><br/>
            <input type="button" value="" id="saveOptions" name="saveOptions" class="msg" >
        </div>
    </body>
</html>